// SIZES
$max-size-s: 600px;
$max-size-m: 750px;
$max-size-l: 1150px;
$max-size-xl: 1400px;

// SPACES
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 1rem;
$space-m: 1.5rem;
$space-l: 2rem;
$space-xl: 2.5rem;
$space-xxl: 5rem;

// FONTS
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-s: 0.9rem;
$font-size-m: 1rem;
$font-size-l: 1.5rem;
$font-size-xl: 2.5rem;

$font-weight-xs: 300;
$font-weight-s: 400;
$font-weight-m: 600;
$font-weight-l: 900;

// COLORS
$primary-color: #8247e5;
$secondary-color: #5a1cc4;
$tertiary-color: #1f7ad4;
$primary-rgba-color: rgba(
  130,
  71,
  229,
  0.1
); // Primary color in rgba format with opacity 0.1.

$primary-rgb-shadow-color: rgb(189 197 209 / 20%);
$secondary-rgb-shadow-color: rgb(4 76 124 / 20%);

$white: #ffffff;

$very-light-gray: #e9ecef;
$light-gray: #77838f;
$gray: #6c757e;

$violet: #1e004f;
$dark-violet: #140035;
$very-dark-violet: #11002d;

$red: #f93e56;
$dark-red: #e30723;
$very-dark-red: #990518;
