@import "../app-components/variables.scss";

.card {
  box-shadow: 0 10px 40px 10px $primary-rgb-shadow-color;
  border-radius: $space-xs;
  padding: $space-s;
  margin: $space-xs;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $white;

  &.border {
    border: solid 1px #e7eaf3;
    box-shadow: 0 $space-xs $space-s $primary-rgb-shadow-color;
  }

  &__title {
    color: $violet;
    font-size: $font-size-s;
    font-weight: $font-weight-m;
    margin: 0;
  }
}
