@import "../app-components/variables.scss";

.darkmode-button {
  margin-right: $space-xs;
  background: $violet;
  color: $white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: $font-size-xs;
  padding: $space-xs;
  cursor: pointer;

  &:hover {
    transition: 0.4s;
    color: $very-dark-violet;
    background: $primary-color;
    box-shadow: 0 4px 11px $secondary-color;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}
