@import "../app-components/variables.scss";

.form-field {
  width: 100%;

  display: flex;
  flex-direction: column;

  &__label {
    width: 100%;

    font-size: $font-size-m;
    text-align: start;

    padding-top: $space-s;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__field {
      font-size: $font-size-m;

      padding: $space-xs;
      margin-top: $space-xxs;

      border-radius: 0.5rem;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
