@import "../app-components/variables.scss";

.services {
  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: $space-xs;
    padding: $space-s;

    &__description {
      font-size: $font-size-m;
    }

    &__header {
      margin-left: 0;
    }
  }

  &__cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $space-s;
  }
}

@media screen and (max-width: $max-size-xl) {
  .services {
    &__cards-container {
      justify-content: space-around;
    }
  }
}
