@import "../app-components/variables.scss";

.tag {
  border-radius: $space-xxs;
  padding: $space-xxs $space-xs;
  font-weight: $font-weight-s;

  &__warning {
    color: $primary-warning-color;
    background-color: $secondary-warning-color;
  }
  &__success {
    color: $primary-success-color;
    background-color: $secondary-success-color;
  }
  &__error {
    color: $primary-error-color;
    background-color: $secondary-error-color;
  }
}
