@import "../src/app-components/variables.scss";

.dark-theme {
  background: $dark-violet;
  color: $very-light-gray;

  .header,
  .card__title,
  .detail-row span {
    color: $very-light-gray;
  }

  .navbar {
    background-color: $very-dark-violet;
    box-shadow: 0 $space-xs $space-s $secondary-rgb-shadow-color;
    border-bottom: solid 1px $violet;

    &__logo-container {
      filter: drop-shadow(rgba(233, 236, 239, 0.3) 2px -2px 2px)
        drop-shadow(rgba(233, 236, 239, 0.3) 2px -2px 2px);
    }
  }

  .card {
    background-color: $very-dark-violet;
    box-shadow: 0 10px 40px 10px $secondary-rgb-shadow-color;

    &.border {
      box-shadow: 0 $space-xs $space-s $secondary-rgb-shadow-color;
    }
  }

  .language-button {
    &:hover {
      box-shadow: 0 4px 11px $primary-color;
    }
  }

  .footer {
    border-top: solid 1px $violet;
    &__separator {
      opacity: 1;
    }
  }

  .separator,
  .stats-info__second-column,
  .card.border {
    border-color: $violet;
  }
}
